
.body-no-padding .ant-drawer-body{
    padding: 0px !important;
}
.modal-body-background-transparent .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none !important;
}

.no-padding-modal-body .ant-modal-body {
    padding: 0px !important;
}

.no-padding-modal-body .ant-modal-body {
    padding: 0px !important;
}

.border .ant-input-number{
    width : 100% !important;
}

.input-border{
    border-radius: 8px !important;
    border-width: 1px !important;
}

.input-width{
    width:100%!important;
}

.button-border{
    border-radius: 8px !important;

}

.no-row-hover .ant-table-tbody > tr:hover > td {
    background-color: unset !important;
  }